
<div class="bs-docs-example">
  
  <ul class="nav nav-tabs">
    <li class="<%= "active" if params[:tab].nil? %>"><a href="#message" data-toggle="tab">Message</a></li>
    <li class="<%= "active" if params[:tab] == "register" %>"><a href="#register" data-toggle="tab">Inscription</a></li>
    <li class="<%= "active" if params[:tab] == "users" %>"><a href="#users" data-toggle="tab">Utilisateurs</a></li>
  </ul>
  
  <% if notice %>
    <p class="alert notice"><%= notice %></p>
  <% end %>
  
  
  <div  class="tab-content">
    <div class="tab-pane fade <%= "active" if params[:tab].nil? %> in" id="message">
      <div class="message-new">
        <%= form_for :message, url: messages_url do |f| %>
          <p><%= f.text_area :body, placeholder: "Entrez ici votre message..." %></p>
          <p><button type="submit" class="btn">Envoyer</button></p>
        <% end %>
      </div>
    </div>
    
    <div class="tab-pane fade <%= "active in" if params[:tab] == "register" %>" id="register">
      <%= form_for :user, url: users_url do |f| %>
        <div class="input-append">
          <%= f.text_field :twitter_id, placeholder: "@nomducomptetwitter sans @" %>
          <button type="submit" class="btn"><%= image_tag "twitter.png" %> Enregistrer</button>
        </div>
      <% end %>
      <%= form_for :user, url: users_url do |f| %>
        <p>
          <%= f.hidden_field :facebook_id, "data-user-uid" => 1 %>
          <button type="submit" class="btn btn-fb" data-fb-login="1"><%= image_tag "facebook.png" %>  Facebook Connect</button>
          <span class="hint">(accepter la popup d'installation)</span>
        </p>
      <% end %>
    </div>    
    
    <div class="tab-pane fade <%= "active in" if params[:tab] == "users" %>" id="users">
      <table class="table">
        <tr>
          <th class="span2">Follows ?</th>
          <th>Nom</th>
          <th>Inscrit le</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag("ok.png") if Contractor::Twittos.is_followed_by?(user.uid) %></td>
            <td><%= image_tag user.icon %> <%= user.uid %></td>
            <td><%= l(user.created_at, format: :short) %></td>
          </tr>
        <% end %>
      </table>
    </div>
    
    
  </div>
</div>