<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path("favicon.png") %>" />
    <link rel="icon" type="image/png" href="<%= asset_path("favicon.png") %>" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu|Raleway|Telex:400,700' rel='stylesheet' type='text/css'>
    <title>Social Contractor - Prototype</title>
    <%= yield :meta_tags %>
    <%= mobile_viewport_meta_tags "bookmark.png" %>
    <%= stylesheet_link_tag "application", :media => "all", :debug => Rails.env.development? %>
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= "#{"wrapper-admin" if @admin} wrapper-#{device_type}" "#{controller.controller_name}-#{controller.action_name}" %>">
    
    <%= render :partial => "shared/environment" %>

    <div class="container main-container">
      <%= yield %>
    </div>

    <div class="footer">
      <p class="inner">Conception &amp; Réalisation Sociabliz. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <%= javascript_include_tag "application", :debug => Rails.env.development? %>
    <%= yield :javascripts %>
  </body>
</html>